<!-- Partie dédiée au modal par défaut -->
<script id="tpl_default" type="text/html" >

    <style>
        .titre { 
            color: #ff0000; 
            font-size: 20px;
        }
        .contenu {
            text-align: center; 
            margin: 20px 0;
            font-size: 18px;
            line-height: 24px;
        }
        span { 
            background-color: red; 
            color: #ffffff; 
        }
    </style>

    
    <!-- Mettre DOM pour modal format original ici -->
    <div class="titre">!! FORMAT ORIGINAL !!</div>
    eeeeeeee
    <div class='contenu'>XXX Sit est nunc, <span>metus</span> vulputate facilisis. Sociis varius ac, viverra aliquet in nam sociosqu commodo</div>

        <!-- <style>.titre { color: purple;  font-size: 40px; }</style> -->
</script>

<!-- Partie dédiée au modal une fois redimensionné (partie facultative) -->
<script id="tpl_redim" type="text/html" >

    <style>
        span { 
            color: purple; 
            background-color: orange; 
        }    
    </style>

    <!-- Mettre DOM pour modal grand format ici -->
    <div>
        GRAND FORMAT : <span>TEXTE EN ENTIER</span> : Attention, la société SORIN est de nouveau en mesure de vous livrer les commandes des consommables auto transfusion ELECTA depuis le 25 mai 2012.<br/>Attention, la société SORIN est de nouveau en mesure de vous livrer les commandes des consommables auto transfusion ELECTA depuis le 25 mai 2012.<br/>Attention, la société SORIN est de nouveau en mesure de vous livrer les commandes des consommables auto transfusion ELECTA depuis le 25 mai 2012.
    </div>
    
</script>