<!-- Partie dédiée au modal par défaut -->
<script id="tpl_default" type="text/html" >

    <style>
        .frame {
            border: dotted 2px red;
            color: #233578;
            padding: 12px 10%;
        }
        .titre { 
            color: #ff0000; 
            font-size: 20px;
            font-weight: bold;
        }
        .contenu {
            text-align: center; 
            margin: 15px 0 30px 0;
            font-size: 18px;
            line-height: 24px;
        }
        span { 
            background-color: #354b9b;
            color: #ffffff;
            padding: 0 5px;
        }
    </style>

    
    <!-- Mettre DOM pour modal format original ici -->
    <div class="frame">
        <div class="titre">INFORMATION CORONAVIRUS</div>
        <div class="contenu">Face au Coronavirus, il existe des <br/><span>gestes simples pour se protéger et protéger les autres</span></div>
    </div>
        <!-- <style>.titre { color: purple;  font-size: 40px; }</style> -->
</script>

<!-- Partie dédiée au modal une fois redimensionné (partie facultative) -->
<script id="tpl_redim" type="text/html" >

    <style>
        .img {
            background: center / contain no-repeat url("images/coronavirus_gestes_barrieres.png");
            height: 630px;
            height: 80vh;
        }   
    </style>

    <!-- DOM pour modal grand format ici -->
    <div class="img"></div>
    
</script>