/* Pour éviter au début quand on est en haut de page, de scroller vers le bas avant la fin de l'animation */
html.noscroll {
    height: 100vh;
    overflow-y: hidden;
    padding-right: 15px; /* Avoid width reflow */
}

.msk {
    position: fixed;
    z-index:10000;
    top: 0;
    left: 0;
    background-color:#000000;
    filter:alpha(opacity=0);
	-moz-opacity:0;
    opacity:0;
    transition: opacity 0.4s ease-in-out;
}
.msk.display {
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

[data-modal="true"] { 
    position: relative; 
    background-color: #efefef;
    color:#8d8c8c;
}
[data-modal="true"]:not(.display) { display: none; }
[data-modal="true"].display { display: block; }
[data-modal="true"].float.right { float: right; }
[data-modal="true"].float.left { float: left; }
[data-modal="true"].fixed { position: fixed; }

[data-modal="true"].setShadow { background: none !important; } 
[data-modal="true"].setShadow > *:not(.shadow) { opacity: 0 !important; }


[data-modal="true"] .shadow {
    position: absolute;
    background-color: rgba(0,0,0,0.1);
    /* width: 100%;
    height: 100%; */
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    border: 3px dashed #777777;
}

[data-modal="true"] .TexteInfoFocus	{
	font-size: 14px;
	line-height: 20px;
    text-align: center;
    padding: 25px;
    /* Juste pour IE */
	scrollbar-face-color: #f6f6f6;
	scrollbar-track-color: #f9f9f9;
	scrollbar-arrow-color: lightgray;
	scrollbar-shadow-color: white;
	scrollbar-highlight-color: white;
	scrollbar-3dlight-color: #b7b7b7;
	scrollbar-darkshadow-color: #c5c5c5;	
}
[data-modal="true"] .TexteInfoFocusContenu {
    overflow: inherit; /* ?? */
    max-height: none;
}

[data-modal="true"] .TexteInfoFocusContenu a {
    color: #707070;
	text-decoration: underline;
}

[data-modal="true"] a.linkToRedimModal,
[data-modal="true"] a.fakeButtonToRedimModal {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

[data-modal="true"] a.linkToRedimModal {
    color: #245bff;
	text-decoration: underline;
    display: inline-block;
    margin-top: 10px;
}
[data-modal="true"] a.fakeButtonToRedimModal {
    display: inline-block;
    color:#fff;
    background-color: #245bff;
    font-weight: bold;
    line-height: 14px;
    padding: 8px 15px;
    border-radius: 3px;
    text-decoration: none;
}
[data-modal="true"] a.linkToRedimModal:hover,
[data-modal="true"] a.fakeButtonToRedimModal:hover {
    filter: brightness(75%);
}

[data-modal="true"] #closeShortMsg {
	position:absolute;
	cursor: pointer;
	top:15px;
    right:15px;
}
[data-modal="true"] #closeShortMsg.hidden { 
    opacity: 0; 
    cursor: default; 
}

[data-modal="true"] #IconeResizeSmall {
    cursor: pointer;
    height: 15px;
    width: 15px;
    position: absolute;
    right: 18px;
    top: 18px;
    z-index: 3;
    transition: all 0.15s ease-in-out;
}
[data-modal="true"] #IconeResizeSmall:hover {
    transform: scale(1.2);
}

/* AJOUT LE 22/03/21 */
[data-modal="true"] #IconeResizeSmall:before {
    font-style: "font-awesome";
    color: #fff;
    content: "\f78c";
    top: -15px;
    left: -7px;
    border-radius: 50%;
    padding: 10px;
    position: absolute;
    z-index: 999;
    background-color: rgba(0,0,0,0.7);
}
[data-modal="true"] #IconeResizeSmall {
    right: -2px;
    top: -2px;
    z-index: 1000;
}
/* FIN AJOUT LE 22/03/21 */

[data-modal="true"].transition :not(.Hidden) {
    transition: all 0.2s ease-in-out;
} 
[data-modal="true"].Hidden,
[data-modal="true"] .Hidden  {
    filter:alpha(opacity=0);
	-moz-opacity:0;
    opacity:0;
}

            
[data-modal="true"]#clone_modal {
    position: fixed;
    z-index:10001;
    margin-top: auto;
    width: 30%;
    min-width: 100px;
    height: auto;
    max-height: none;
    -webkit-box-shadow: 0 0 15px 0 #444444;
    -moz-box-shadow: 0 0 15px 0 #444444;
    box-shadow: 0 0 15px 0 #444444;
    display: block;
}
[data-modal="true"]#clone_modal.setCentralPosition {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


[data-modal="true"].br-1, 
[data-modal="true"] .br-1 { border-radius: 1px; }
[data-modal="true"].br-2,
[data-modal="true"] .br-2 { border-radius: 2px; }
[data-modal="true"].br-3, 
[data-modal="true"] .br-3 { border-radius: 3px; }
[data-modal="true"].br-4, 
[data-modal="true"] .br-4 { border-radius: 4px; }
[data-modal="true"].br-5, 
[data-modal="true"] .br-5 { border-radius: 5px; }
[data-modal="true"].br-6, 
[data-modal="true"] .br-6 { border-radius: 6px; }
[data-modal="true"].br-7, 
[data-modal="true"] .br-7 { border-radius: 7px; }
[data-modal="true"].br-8, 
[data-modal="true"] .br-8 { border-radius: 8px; }
[data-modal="true"].br-9, 
[data-modal="true"] .br-9 { border-radius: 9px; }
[data-modal="true"].br-10, 
[data-modal="true"] .br-10 { border-radius: 10px; }
[data-modal="true"].br-11, 
[data-modal="true"] .br-11 { border-radius: 11px; }
[data-modal="true"].br-12, 
[data-modal="true"] .br-12 { border-radius: 12px; }
[data-modal="true"].br-13, 
[data-modal="true"] .br-13 { border-radius: 13px; }
[data-modal="true"].br-14, 
[data-modal="true"] .br-14 { border-radius: 14px; }
[data-modal="true"].br-15, 
[data-modal="true"] .br-15 { border-radius: 15px; }
[data-modal="true"].br-16, 
[data-modal="true"] .br-16 { border-radius: 16px; }
[data-modal="true"].br-17, 
[data-modal="true"] .br-17 { border-radius: 17px; }
[data-modal="true"].br-18, 
[data-modal="true"] .br-18 { border-radius: 18px; }
[data-modal="true"].br-19, 
[data-modal="true"] .br-19 { border-radius: 19px; }
[data-modal="true"].br-20,
[data-modal="true"] .br-20 { border-radius: 20px; }
[data-modal="true"].br-21, 
[data-modal="true"] .br-21 { border-radius: 21px; }
[data-modal="true"].br-22, 
[data-modal="true"] .br-22 { border-radius: 22px; }
[data-modal="true"].br-23, 
[data-modal="true"] .br-23 { border-radius: 23px; }
[data-modal="true"].br-24, 
[data-modal="true"] .br-24 { border-radius: 24px; }
[data-modal="true"].br-25, 
[data-modal="true"] .br-25 { border-radius: 25px; }