/* Pour éviter au début quand on est en haut de page, de scroller vers le bas avant la fin de l'animation */
html.noscroll {
    height: 100vh;
    overflow-y: hidden;
    padding-right: 15px; /* Avoid width reflow */
}

.msk {
    position: fixed;
    z-index:10000;
    top: 0;
    left: 0;
    background-color:#000000;
    filter:alpha(opacity=0);
	-moz-opacity:0;
    opacity:0;
    transition: opacity 0.4s ease-in-out;
}
.msk.display {
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

[data-modal="true"] { 
    position: relative; 
    background-color: #efefef;
    color:#8d8c8c;
}
[data-modal="true"]:not(.display) { display: none; }
[data-modal="true"].display { display: block; }
[data-modal="true"].float.right { float: right; }
[data-modal="true"].float.left { float: left; }
[data-modal="true"].fixed { position: fixed; }

[data-modal="true"].setShadow { background: none !important; } 
[data-modal="true"].setShadow > *:not(.shadow) { opacity: 0 !important; }


[data-modal="true"] .shadow {
    position: absolute;
    background-color: rgba(0,0,0,0.1);
    /* width: 100%;
    height: 100%; */
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    border: 3px dashed #777777;
}

[data-modal="true"] .TexteInfoFocus	{
	font-size: 14px;
	line-height: 20px;
    text-align: center;
    padding: 25px;
    /* Juste pour IE */
	scrollbar-face-color: #f6f6f6;
	scrollbar-track-color: #f9f9f9;
	scrollbar-arrow-color: lightgray;
	scrollbar-shadow-color: white;
	scrollbar-highlight-color: white;
	scrollbar-3dlight-color: #b7b7b7;
	scrollbar-darkshadow-color: #c5c5c5;	
}
[data-modal="true"] .TexteInfoFocusContenu {
    overflow: inherit; /* ?? */
    max-height: none;
}

[data-modal="true"] .TexteInfoFocusContenu a {
    color: #707070;
	text-decoration: underline;
}

[data-modal="true"] .linkToRedimModal{
	color:#909090;
	text-decoration: underline;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
}
[data-modal="true"] .linkToRedimModal:hover,
[data-modal="true"] .TexteInfoFocusContenu a:hover {
	color:#d80000;
}

[data-modal="true"] #closeShortMsg {
	position:absolute;
	cursor: pointer;
	top:15px;
    right:15px;
}
[data-modal="true"] #closeShortMsg.hidden { 
    opacity: 0; 
    cursor: default; 
}

[data-modal="true"] #IconeResizeSmall {
    cursor: pointer;
    height: 15px;
    width: 15px;
    position: absolute;
    right: 18px;
    top: 18px;
    z-index: 3;
    transition: all 0.15s ease-in-out;
}
[data-modal="true"] #IconeResizeSmall:hover {
    transform: scale(1.2);
}

[data-modal="true"].transition :not(.Hidden) {
    transition: all 0.2s ease-in-out;
} 
[data-modal="true"].Hidden,
[data-modal="true"] .Hidden  {
    filter:alpha(opacity=0);
	-moz-opacity:0;
    opacity:0;
}

            
#clone_modal {
    position: fixed;
    z-index:10001;
    margin-top: auto;
    width: 30%;
    min-width: 100px;
    height: auto;
    max-height: none;
    -webkit-box-shadow: 0 0 15px 0 #444444;
    -moz-box-shadow: 0 0 15px 0 #444444;
    box-shadow: 0 0 15px 0 #444444;
    display: block;
}
#clone_modal.setCentralPosition {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}